<nav>
    <div class="item">
        <ion-icon name="earth-outline"></ion-icon>
        <span>Posts</span>
    </div>
    <div class="item">
        <ion-icon name="duplicate-outline"></ion-icon>
        <span>Share</span>
    </div>
    <div class="item">
        <ion-icon name="happy-outline"></ion-icon>
        <span>Profile</span>
    </div>
</nav>