<nav>
    <a class="item" href="/posts">
        <ion-icon name="earth-outline"></ion-icon>
        <span>Posts</span>
    </a>
    <a class="item" href="/posts/new">
        <ion-icon name="duplicate-outline"></ion-icon>
        <span>Share</span>
    </a>
    <a class="item" href="/profile">
        <ion-icon name="happy-outline"></ion-icon>
        <span>Profile</span>
    </a>
</nav>