<h2>Home Post</h2>

<% @posts.each do |post| %>
  <%= link_to post_url(post) do %>
    <div class="post">
      <%= post.content %>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Create Post", new_post_path %>
<% end %>